<div class="booyah-box">

<h1> Messages </h1>

<% @messages.each do |message| %>
  <div>
    <%= message.body %>
  </div>
<% end %>

<hr />

<%= simple_form_for @message do |f| %>
  <%= f.input :body %>
  <%= f.submit "Send" %>

<% end %>

</div>

<script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAbTEmw3HkMNqsjWlQvDw-31_4aH1HAnAE",
    authDomain: "chatbox-70b6f.firebaseapp.com",
    databaseURL: "https://chatbox-70b6f.firebaseio.com",
    projectId: "chatbox-70b6f",
    storageBucket: "",
    messagingSenderId: "406353666493"
  };
  firebase.initializeApp(config);
</script>
COPY
